name: Deploy to Production

on:
  push:
    branches: [ main, master ]  # Ejecutar en push a main o master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to server MongoAPI
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |

            echo "Iniciando despliegue en el servidor..." 

            echo "Entrando a la carpeta del proyecto..."
            if [ ! -d "/home/${{ secrets.SSH_USERNAME }}/api_project/mongo_clients" ]; then
              echo "ERROR: El directorio no existe. Aseg煤rate de que el proyecto est茅 en la ruta correcta."
              exit 1
            else
              # Navegar al directorio de la aplicaci贸n
              cd /home/${{ secrets.SSH_USERNAME }}/api_project/mongo_clients || exit 1
              # Limpiar archivos no rastreados antes de hacer pull
              echo "Cleaning untracked files..."
              git clean -f
              echo "Untracked files cleaned."

              # Ahora realizar el git pull
              echo "Fetching latest changes..."
              git reset --hard
              git fetch
              git pull origin main
              echo "Git repository reset and pulled successfully."
            fi


            # Cargar nvm y Node.js
            echo "Loading nvm..."
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            echo "NVM loaded."

            echo "Instalando dependencias..."
            npm install
            
            # Actualiza los archivos de configuraci贸n
            echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env
            echo "PORT=${{ secrets.PORT }}" >> .env


            APP_NAME="mongo_users"

            if pm2 list | grep -q "$APP_NAME"; then
              echo " Deteniendo y eliminando aplicaci贸n con PM2: $APP_NAME"
              pm2 stop "$APP_NAME"
              pm2 delete "$APP_NAME"
            else
              echo "癸 La aplicaci贸n '$APP_NAME' no est谩 registrada en PM2."
            fi

            
            # Inicia la aplicaci贸n con PM2
            echo "Iniciando aplicaci贸n con PM2..."
            pm2 start npm --name "mongo_users" -- run start      
            # Muestra estado de la aplicaci贸n
            pm2 status
            
            # Guardar configuraci贸n de PM2
            pm2 save